extends people
block header
	title="Betty L. Nichols"
	

block content
		h1#name Betty L. Nichols
		h3#dates 
			span#born Born : April 10th, 1925
			span  - 
			span#died Died: June 4th, 2014
		img#mainPortrait.portrait(src='images/people/0/betty1.jpg')
		
		#eulogy
			h5 Obituary for Betty Nichols
			P Betty L. Nichols, 89 of Lancaster, PA, died peacefully, surrounded by her family, on Wednesday, June 4, 2014 at Lancaster General Hospital.
			p Born in Lebanon, she was the daughter of the late Jacob and Mabel (Spancake) Killinger. 
			p Betty worked from 1953 until her retirement in 1986 as a registered nurse at the Palisades Nursing Home and also for the Palisades Medical Center, formerly the North Hudson Hospital in North Bergen, NJ.
			p She was a member of the Faith Evangelical Congregational Church in Lancaster where she was active in the Senior Group. She enjoyed reading, quilting, and jigsaw puzzles.
			p Surviving are five children, Howard, married to Jude Nichols of Wayne, NJ, Cathy, married to Dennis Zimmermann of Paradise, PA, Sue, married to Mike Gannon of Augusta, NJ, Patricia Nichols of N. Arlington, NJ, and Paul Nichols of Hasbrouck Heights, NJ; 10 grandchildren; and 5 great grandchildren.
			p Preceding her in death are two brothers, Harold and Donald Killinger; and a grandson, Eric LaRosa.
			
			
			a(href='betty/funeral') Funeral Services
