style.
		img.portrait{
			height:100%;
			width:100%;
			display:inline;
			position:absolute;

		}

div#mainPortraitHolder
			img#mainPortrait.portrait(src='images/people/0/betty1.jpg')
			img#secondPortrait.portrait(src='images/people/0/betty.jpg')
			img#thirdPortrait.portrait(src='images/people/0/betty.jpg')