doctype
html
	head
		link(rel='stylesheet', href='/stylesheets/person.css')
		link(href='http://fonts.googleapis.com/css?family=Ultra',rel='stylesheet',type='text/css')
		block header

	body
		block content